@using MyWebApp.Models;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model ProductListVM

@{
    var start = this.Model.Discount.Start.ToString("d");
    var end = this.Model.Discount.End.ToString("d");
    var rate = this.Model.Discount.Rate;
    var off = (1- rate) * 100;
}

<html>
    <body>
        <!--Html-hepler derived from Rendering-namespace. Custom html-helper in Extensions-folder-->
        @Html.ColorfulHeading(1, "green","Product List")
        <!--<h1>Product list</h1>-->
        <!--below does not work-->
        <!--@Html.ColorfulHeading(4,"blue","The @off% off discount will be valid from @start to @end")-->
        <h4 style="color: blue">The @off% off discount will be valid from @start to @end</h4>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Discount Price</th>
            </tr>
            @foreach (var p in this.Model.Products)
            {
                <tr>
                    <td>@p.ID</td>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>@(p.Price * rate)</td>
                </tr>
            }
        </table>
        <!--Another htmlHelper-->
        @Html.FakeTextBoxFor(p => p.Person.ID)<br />
        @Html.FakeTextBoxFor(p => p.Person.Name)<br />
        @Html.FakeTextBoxFor(p => p.Person.Age)<br />
    </body>
</html>